#barras-de-vida{
    display: flex;
    margin: 20px 60px;
}

#vidaJogador{
    width: 300px;
    height: 20px;
    background-color: #f0f0f0;
    border-radius: 10px;
    margin-right: 200px;
}

#vidaCorJogador{
    height: 100%;
    background-color: #f44336;
    width: 0;
    border-radius: 10px;
}

#vidaPc{
    width: 300px;
    height: 20px;
    background-color: #f0f0f0;
    border-radius: 10px;
}

#vidaCorPC{
    height: 100%;
    background-color: #f44336;
    width: 0;
    border-radius: 10px;
}
